@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background-start-rgb: 255, 255, 255, 0.9;
  --background-end-rgb: 255, 255, 255, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255, 1;
    --background-start-rgb: 0, 0, 0, 0.87;
    --background-end-rgb: 0, 0, 0, 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
pre,
code,
ul {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(var(--foreground-rgb));
  background: rgb(9 9 10)
    url(https://images.unsplash.com/photo-1620121478247-ec786b9be2fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80)
    left center / cover no-repeat;
  background-size: auto;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-start-rgb));
  backdrop-filter: blur(80px);
  min-height: 100vh;
}

/* dialog::backdrop {
  background: rgba(var(--background-start-rgb));
  backdrop-filter: blur(10px);
} */

/* custom components */
@layer components {
  /* link component with fancy underline animation */
  .link {
    @apply text-blue-400 relative inline-block decoration-transparent transition-colors duration-200 ease-in-out after:absolute after:left-0 after:bottom-[-2px] after:w-full after:h-[2px] after:bg-current after:transform after:origin-left after:transition-transform after:ease-in-out after:duration-200 after:scale-x-0 hover:text-blue-600 hover:after:scale-x-100;
  }
  .nav-link {
    @apply py-2 px-2 dark:hover:bg-white/5 hover:bg-black/5 rounded-md transition duration-300 ease-in-out block dark:text-white/50 text-black/50 dark:hover:text-white/100 hover:text-black/100;
  }

  .nav-link.active {
    @apply bg-tremor-brand text-gray-100;
  }

  .btn {
    @apply p-2 rounded-md inline-block text-white text-sm font-medium;
  }

  .btn-primary {
    @apply bg-blue-500 dark:hover:bg-blue-400 hover:bg-blue-600;
  }

  .btn-secondary {
    @apply bg-gray-500 dark:hover:bg-gray-400 hover:bg-gray-600;
  }

  .btn-success {
    @apply bg-green-500 dark:hover:bg-green-400 hover:bg-green-600;
  }

  .btn-danger {
    @apply bg-red-500 dark:hover:bg-red-400 hover:bg-red-600;
  }

  .btn-warning {
    @apply bg-yellow-500 dark:hover:bg-yellow-400 hover:bg-yellow-600;
  }

  .btn-info {
    @apply bg-blue-500 dark:hover:bg-blue-400 hover:bg-blue-600;
  }

  .input-group,
  .input-group-col {
    @apply flex flex-col gap-1;
  }
  .input-group-row {
    @apply flex flex-row gap-1;
  }

  /* custom scrollbar */
}

/* set default border color */
@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-white/5 border-black/5;
  }
  #dashnav::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-md hover:bg-white/20;
  }

  #dashnav::-webkit-scrollbar-track {
    @apply bg-white/5 rounded-md;
  }

  #dashnav::-webkit-scrollbar {
    @apply w-[1px];
  }
  dialog::backdrop {
    @apply bg-white/5 dark:bg-black/50 backdrop-blur-sm;
  }
  /* #dashnav:hover::-webkit-scrollbar {
    @apply w-[2px];
  } */
}

/* #dashnav::-webkit-scrollbar {
  width: 8px;
}
#dashnav::-webkit-scrollbar-track {
  background: rgba(var(--foreground-rgb), 0.1);
}

#dashnav::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgb), 0.2);
  border-radius: 4px;
}

#dashnav::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--foreground-rgb), 0.3);
} */
